/* sansouci.css */

/* Reference: CSS - Assigning property values, Cascading, and Inheritance - http://www.w3.org/TR/CSS21/cascade.html */

/* Lines based on Eric Meyer HTML5 RESET, v2.0 | 20110126, http://meyerweb.com/eric/tools/css/reset/ AND on http://www.w3.org/TR/html5-diff/ */

    /* main added by DHL 3/1/14 */
    .page, 
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    section, article, main, aside, header, footer, figure, figcaption, nav, template, /* new HTML5 elements for improved structure */
    canvas, datalist, keygen, output, embed, ruby, rt, rp, time, mark, progress, audio, video, track, /* more new HTML5 elements */
    summary, details, output {
    	margin: 0;
    	padding: 0;
    	border: none;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    } 
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, figContainer,
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body, figure {
    	line-height: 1;
    }
    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    } 
    
/* END Lines based on Eric Meyer HTML5 RESET */

b, em { font-weight: bold; }
i { font-style: italic; }
.gray, .grey { color: #999999; }

body { 
  color: black;
  background-color: #fffff0; /* ivory */
  background-color: #f8f6de; /* f9f7e1 f4f1d6 fafaf0 fafaf0 e9e9e0 */
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
	float: none;
  text-align: left;
  border: 1px red solid;
  border: none;
} 

.navArea {
  margin: 5px auto 4px auto;
  padding: 5px;
  float: left;
  width: 128px;
  text-align: center;
  border: 1px solid magenta;
  border: none;
}

.navArea .navBar a:link,    .navArea .navBarTight a:link    { color: #5e6a18; text-decoration: none; }
.navArea .navBar a:visited, .navArea .navBarTight a:visited { color: #5e6a18; text-decoration: none; }
.navArea .navBar a:hover,   .navArea .navBarTight a:hover   { color: #990000; text-decoration: underline; }

.page {
  width: 920px;
  padding: 0px 10px 10px 10px;
  padding: 0;
  margin: 0 auto;  
  background-image: url('images/loieFullerBackground.png');
  background-size: 100%;
  background-repeat: repeat-y;
  background-origin: border-box;
  background-position: 0% 0%;
  border: 1px blue solid;
  border: none;
}

.pageArea {
  margin: 8px auto 0 auto;
  padding-top: 2px;
  border: 1px green solid;
  border: none;
}

.pageBanner {
  text-align: left;
  vertical-align: top;
  margin: 10px 0 -3px 65px;
  border: 1px green solid;
  border: none;
}

.pageBanner image {
  width: 600px;
  height: 63px;
  vertical-align: middle;
}

.contentArea {
  text-align: left;
  float: left;
  margin-left: 31px;
  padding: 0 10px;
  border: 1px solid orange;    /* Useful for diagnosing screeningProgram articles, 3/21/15 */
  border: none;
}

.contentArea .headerPart {
  margin-bottom: 20px;
/*  margin-left: 31px; */
  text-align: left;
  border: 1px solid purple;
  border: none;
}

.contentArea .headerPart .title,
.contentArea .subtitle {
  font-size: 24px;
	line-height: 120%;
  font-weight: bold;
/*  text-align: left; */
}

.title, .subtitle { color: #28733b;  /* #2b7a3f; #FCFC7E; */ }

.contentArea .subtitle {
  font-size: 20px;
}

.contentArea article {
  width: 650px; 
  border: 1px dashed black;
  border: none;
}

.contentArea article.screeningProgram { /* Added 3/20/15 */
  width: 750px;
}

.contentArea article section {
  margin-left: 31px;
  margin-right: 50px; /* Changed from 180px 3/11/15 */
  margin-top: 20px;
  border: 1px dashed orange;  /* Useful for diagnosing screeningProgram articles, 3/21/15 */
  border: none;
}

.contentArea article.screeningProgram section {
  margin-left: 0px;  
  margin-right: 20px;
}

.contentArea article:not(.screeningProgram) section {
  margin-right: 130px; /* Changed from 180px 3/11/15 */
}

.contentArea article section:first-of-type {
  margin-top: 14px;
}

/*
.contentArea article h1,
.contentArea article h1.showDescriptionHeader {
*/

.contentArea article:not(.screeningProgram) h1 { /* Added :not(.screeningProgram) 3/20/15 */
  padding-top: 3px;
  font-size: 24px;
	line-height: 120%;
  font-weight: bold;
  text-align: left;  
}

.eventHeader h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height:18px;
}

/*
.contentArea article h1.showDescriptionHeader {
  overflow:hidden;
}
*/

h1 { color: #28733b; /* 3/15/15 */ }

.contentArea article section h2 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
	line-height: 20px;
}

h2 { color: #3b2873; /* deep purple 3/15/15 */ }

.contentArea article section p {
  font-size: 14px;
  line-height: 120%;
  font-weight: normal;
	padding: 8px 30px 8px 30px; /* Should this be 30px or 0px 3/8/15 */
}

p .leaded { line-height: 150%; }
p { color: #333333; /* 3/15/15 */ }

.contentArea .dateLine {
  margin: 5px 0 3px 0;
  font-weight: bold;
  font-size: 19px;
  text-align: left;
}

.dateline { color: black; /* 3/15/15 */ }

.contentArea .dateLine .timeText {
  font-size: 14px;
  font-weight: normal;
}

.contentArea .venueText .timeText {
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
}


.contentArea .venueText {
  font-size: 19px;
  line-height: 120%;
/*  margin-top: 5px;
  margin-bottom: 0px; 3/15/15 */
  font-weight: bold;
}

.venueText { color: purple; /* 3/15/15 */ }

.contentArea .venueText .minorSpan {
  font-size: 16px;
  font-weight: normal;
}

.contentArea .venueText .locationLink {
  font-size: 14px;
  font-weight: normal;
}

.locationLink { color: black; /* 3/15/15 */ }

.contentArea .miscInfo {
/*  margin: 5px 0; */
  font-size: 13px;
  line-height: 120%;
}

.miscInfo { color: #666666; /* 3/15/15 */}

.ticketInfo {
/*  margin: 3px 0; */
  padding: 3px 0;
  font-size: 15px;
  line-height: 110%;
}

.ticketInfo { color: #666666; /* #34834d; 3/15/15 */ }

.contentArea .fundingInfo {
  font-size: 15px;
  line-height: 120%;
  display: table-cell;
  vertical-align: middle;
/*  padding: 9px 0 5px 0; 3/15/15 */
/*  text-align: center; 3/15/15 */
  border: 1px blue solid;
  border: none;
}

.contentArea .fundingInfo.small { font-size: 14px; }

.fundingInfo { color: #b15d10; /* #C26A18; 3/15/15 */ }

.page .pageFooter {
  text-align:center;
  vertical-align:bottom;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding: 10px 0;
	color: #5e6a18;
}

.page .filmTitleText {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  color: black;
	line-height: 20px;
}

.page .filmInfoText {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
	line-height: 120%;
  color: black;
}

.page .filmInfoText .synopsis {
   font-style: italic;
   line-height: 130%;
}

.page .filmInfoText .synopsis i {
   font-style: normal;
}

.page .filmInfoSubtitleText {
  font-size: 13px;
	padding-top: 0px;
	font-style: normal;
	font-weight: normal;
  color: #5e6a18;
}

.page .filmYearText {
  font-size: 16px;
  font-weight: normal; 
  font-style: normal;
/*	padding-top: 3px; */
  color: black; 
}

.page .filmLiveText {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
/*	padding-top: 3px; */
  color: black; 
}

.page .filmRunTimeText {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
/*	padding-top: 3px; */
	color: black; 
}

.page .filmFormatText {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
/*	padding-top: 3px; */
	color: black; 
}

section {
  border: 1px maroon dashed;
  border: none;
}

section h1 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
	color: #28733b;
}

.contentArea article, .contentArea .eventProgram {
  max-width:720px;
  font-size: 15px;
  line-height: 130%;
/*  color: #b15d10; 3/16/15 */
/*  border: 1px red solid; */
/*  border: none; */
}

.eventDate { 
  font-size: 20px;
  font-style: italic;
  margin-top: 9px; 
}

.eventTime {
  font-size:15px;
  line-height:120%;
}

.headerPart p, article p {
  font-size: 15px;
  line-height: 120%;
  font-weight: normal;
}

/*
.contentArea section p {
  font-size: 15px;
  font-weight: normal;
  line-height: 120%;
	color: #333333;  
}

.contentArea section p:first-of-type {
  margin-top: 0;
}

.contentArea section p .leaded {
  line-height: 130%;
}
*/

.bodyText, .bodyTextLeaded, .bodyTextLeadedOnBlack {
  font-size: 15px;
  font-weight: normal;
  line-height: 130%;
	color: #333333;
}

.page .entryFormSection .bodyText,
.page .entryFormSection .bodyTextLeaded,
.page .entryFormSection .bodyTextLeadedOnBlack {
	color: black;
}

.bodyTextLeadedOnBlack { color: #CCCCCC; } /* TODO: This can be deleted once the black background is obsolete. */

.bodyTextUnleaded {
  line-height: 120%;  
}

.filmDescriptionCell { 
  margin: 23px 0;
/*  max-width: 720px; */
  border: 1px maroon solid;
  border: none;
}
/* The rules beginning ".screeningProgram > .filmDescriptionCell" mimic :first-of-typpe.
   To understand this in relation to :firstof-type & nth-of-type(1), 
   see http://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class 
*/
.screeningProgram > .filmDescriptionCell {
  margin-top: 12px;
  border: 1px solid green;  /* Useful for diagnosing screeningProgram articles, 3/21/15 */
  border: none;
}

.screeningProgram > .filmDescriptionCell:last-of-type {
  margin-bottom: 18px;
  border: none;
}

.filmDescriptionCell .imagePart {
  text-align: right;
  vertical-align: top;
  margin-right: 10px;
  float: left;
  width: 250px;
  border: 1px brown dashed;  /* Useful for diagnosing screeningProgram articles, 3/21/15 */
  border:none;
}

.filmDescriptionCell .imagePart .figCaption { 
  font-size: 12px;
  line-height: 110%;
  font-weight: normal;
	text-align: right;
	margin-right: 2px;
  color: #666666;
}

.filmDescriptionCell .textPart { 
  text-align: left; 
  vertical-align: top;
  float: left;
  margin: 0 19px 0 10px;
  max-width: 400px;      /* --- 3/20/15 */
  border: 1px red dashed;  /* Useful for diagnosing screeningProgram articles, 3/21/15 */
  border: none;
}


/* COLORS added in 2015 */
.copyrightColor { color: #5e6a18; }
.ssfDebugEchoColor { color: #2c2ca6; }
.ssfDebugTracebackColor { color: maroon; }

.showDescriptionHeader {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
	line-height: 22px;
  overflow: hidden;
	border-bottom: 1px #5e6a18 solid;
  color: #3a5d61;
}

.eventIndexText, .showIndexText {
  font-size: 13.75px; /* 14 */
  font-weight: normal;
  line-height: 130%;
  margin-left: 31px;
  max-width: 680px;
  border: 1px dashed pink;
  border: none;
  color: black;
}

.centered, .centerColumn {
  margin-left: auto;
  margin-right: auto;
}

.centeredText {
  text-align: center;
}

.leftJustifiedText {
  text-align: left;
}

.justifiedText {
  text-align: justify;
}

/* LINKS NOTES:
  - nodeco means no underline except when hovering. This is the defualt.
  - dodeco means override nodeco and show an underline when hovering.
*/  

/* 2 ines below are from sanssouci.css */
a:link, a:visited { color: #006956; text-decoration: none; }
a:hover { color: #990000; text-decoration: underline; }

/*
.page:not(:link) a:link, 
.page:not(:link) a:visited { color: #006956; text-decoration: none; }
.page:not(:link) a:hover { color: #990000; text-decoration: underline; }
*/
  
/*
    a, a.dodeco,
    .page .nodeco,
    .page .contentArea .headerPart .nodeco,
    .page .contentArea .dodeco a:hover { color: #990000; text-decoration: underline; }
    
    contentArea .headerPart .title a:hover { color: #990000; text-decoration: underline; }
*/
    .page .nodeco a:link,
    .page .nodeco a:visited,
    .contentArea .headerPart .nodeco a:link,
    .contentArea .headerPart .nodeco a:visited,
    .contentArea .headerPart .title a:link, 
    .contentArea .headerPart .title a:visited { color: #006956; text-decoration: none; }

    a.dodeco:link, a.dodeco:visited,
    .page .contentArea a.dodeco:link, .page .contentArea a.dodeco:visited,
    .page .contentArea .dodeco a:link, .page .contentArea .dodeco a:visited,
    .contentArea .headerPart .title .doceco a:link, 
    .contentArea .headerPart .title .doceco a:visited { color: #006956; text-decoration: underline; }
    
/*
    .contentArea a:link, .contentArea a:visited,
    .page header a:link, .page header a:visited,
    .page article a:link, .page .article a:visited,
    .eventProgram a:link, .eventProgram a:visited  { color: #006956; text-decoration: underline; }
*/  
    a.acceptEntryOperator:link, a.acceptEntryOperator:visited { color: #EEEECC; text-decoration: none; }
    a.acceptEntryOperator:hover { color: #00FF00; text-decoration: none; }
    /* a.acceptEntryOperator:active { background: black; } */
    
    a.rejectEntryOperator:link, a.rejectEntryOperator:visited { color: #EEEECC; text-decoration: none; }
    a.rejectEntryOperator:hover { color: #FF0000; text-decoration: none; }
    /* a.rejectEntryOperator:active { background: black; } */
    
    a.clearEntryStatusOperator:link, a.clearEntryStatusOperator:visited { color: #EEEECC; text-decoration: none; }
    a.clearEntryStatusOperator:hover { color: #FFA500; text-decoration: none; }
    /* a.clearEntryStatusOperator:active { background: black; } */
    
    a.badVimeoVideoURL:link, a.badVimeoVideoURL:visited { color: #DF7416; text-decoration: underline; }
    a.badVimeoVideoURL:hover { color: #FFA500; text-decoration: none; }
    /* a.clearEntryStatusOperator:active { background: black; } */

/* END lines from sanssouciBlackBackground.css */



#dek {POSITION:absolute;VISIBILITY:hidden;Z-INDEX:200;} /* for flyover popup */

.idDisplayText { color: #d25ec6; font-size: 11px; }
.idDisplayTextDark { color: #6b008e; font-size: 11px; font-weight: bold; } 
.designatedIdDisplayText { color: #B7E5F7; }
.submissionFormatDisplayText { color: #94b328; }
.originalFormatDisplayText { color: #b39428; }
.runTimeDisplayText { color: #FFFF66; }
.scoreDisplayText { color: #DF7416; }
.orangishHighlightDisplayColor { color: #DF7416; }
.acceptedDisplayColor { color: #07EB01; }
.rejectedDisplayColor { color: #CE181F; }
.darkOrangishHighlightDisplayColor { color: #c45f05; }
.darkAcceptedDisplayColor { color: #3c812d; }
.darkRejectedDisplayColor { color: #CE181F; }
.liveDisplayText, .noMediaDisplayColor { color: #B22222; /* firebrick */ }
.offWhite { color: #FFFFCC; /* firebrick */ } 

.floatleft, .floatLeft { float: left; }
.floatright, .floatRight { float: right; }

.topCenter { text-align: center; vertical-align: top; }
.topLeft { text-align: left; vertical-align: top; }
.topRight { text-align: right; vertical-align: top; }
.middleCenter { text-align: center; vertical-align: middle; }

.etchedIn {
  padding: 1px 4px 1px 0;
  margin: 3px 0;
  max-width: 430px;
  border-right: inset 1px #FFFF66;
  border-bottom: inset 1px #FFFF66;
}

.page .etchedIn {
  padding: 1px 4px 1px 0;
  margin: 3px 0;
  max-width: 430px;
  border-right: inset 1px #AAAAAA;
  border-bottom: inset 1px #AAAAAA;
}

.datumValue, .datumDescription {
  font-size: 14px; /* 13.75 prior to 4/3/15 */
  line-height: 130%; /* 17.5 prior to 4/3/15 */
  padding-top: 1px;
  padding-bottom: 3px;
  text-align: left;
	/* float: left; */
}

.datumValue {
  font-weight: normal;
  color: #F9F9CC;
}

.datumDescription {
  font-weight: 500;
  font-style: normal;
  color: #CCBD99;
}

.page .datumValue {
  font-size: 15px;
  line-height: 130%;
  font-weight: normal;
  color: #000000;
}

.page .datumDescription {
  font-weight: normal;
  font-style: normal;
  color: #666666;
}

.formRowContainer {
  float: none; 
  margin-top: 1px;
  margin-bottom: 2px; 
  border: dashed 1px red;
  border: none;
}

.page .formRowContainer {
  float: none; 
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 2px; 
  border: dashed 1px red;
  border: none;
}

.rowTitleText, .rowTitleTextWide, .rowTitleTextNarrow { 
  font-size: 13px;
	line-height: 17px;
	padding: 1px 0 2px 0;
	margin: 2px 6px 0 0;
  color: #F9F9CC;
  float: left;
  text-align: right; 
  width: 110px; 
  border: dashed 1px orange;
  border: none;
}
.rowTitleTextWide { width: 142px; }
.rowTitleTextNarrow { width: 80px; }

.page .rowTitleText, 
.page .rowTitleTextWide, 
.page .rowTitleTextNarrow { 
	padding: 0;
	margin-top: 4px; /* 2px works for IE, Chrome on Windows, and Safari. 3px works better for Chrome on Mac. */
	vertical-align: middle;
  color: #333333;
}

.page input {
  vertical-align: middle;
}

.ssfCheckbox {
  margin-left: 8px;
}

.page .rowTitleText.ssfCheckboxTitle, 
.page .rowTitleTextWide.ssfCheckboxTitle, 
.page .rowTitleTextNarrow.ssfCheckboxTitle {
  margin-top: 2px;  
}

.entryFormFieldContainer {
  margin: 0;
  padding: 1px 0 2px 0; 
  float: left;
  /* border: dashed 1px #66FF00; */
}

.navBar, .navBarTight {
  font-size: 13px;
  font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navBarTight { padding: 3px 0 3px 0; }

.navBarMainSection {
	border-left: 1px outset #c26a18;
	border-top: 1px outset #c26a18;
	padding: 3px 0 5px 0;
	margin: 0px 5px 0 5px;
}

.navBarArchiveSection {
	border-right: 1px inset #c26a18; /* #FFFFA6 */
	border-bottom: 1px inset #c26a18;
	padding-bottom: 4px;
	margin: 0px 5px 0 5px;
}

.navBarTitle, .navBarTitle1, .navBarTitle2 {
  font-size: 13px;
  font-weight: normal;
  color: #999999; 
  padding: 5px 0 5px 0;
}
.navBarTitle1 { padding: 5px 0 1px 0; }
.navBarTitle2 { padding: 12px 0 1px 0; }

.borderPic { border-color: #000000; margin-top: 3px; }
.borderPic06 { border-color: #FD94B2; margin-top: 3px; }
.borderPic07 { border-color: #FFFF66; margin-top: 3px; }
.borderPic08H { border-color: #660000; margin-top: 3px; }
.borderPic08B { border-color: #000099; margin-top: 2px; }
.borderPic08TX { border-color: #D1C28B; margin-top: 4px; }
.borderPic09D { border-color: #CC3333; margin-top: 4px; }

.programPic { padding-top: 4px; }

li.noIndent {
  font-size: 14px;
  font-weight: normal;
  margin: 0 20px 10px -10px;
  color: #FFFFCC;
}

li.noIndentOnDarkGray {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0 20px 8px -10px;
  color: #F6F6F0;
}

td {
  padding: 0;
}

td.filmFigure {
  padding-top: 4px;
}

.programTablePageBackground { 
  background-color: #333333;
}

ul {
  margin-top: 4px;
  margin-left: -20px;
  list-style-type: circle;
}

.page .entryFormSection ul {
  margin-top: 2px;
  margin-bottom: 12px;
  margin-left: 28px;
  font-size: 14px;
  color: DarkSlateGray;
}

.ssfEntryForm {
  padding-left: 26px;
  padding-right: 57px;
  border: dashed 0px YellowGreen;
  border: none;
}

.ulBulletText {
  font-size: 13px;
  /* padding-left: -1.5em; */
}

.smallBodyText {
  font-size: 12px;
  font-weight: normal;
}
	
.smallBodyTextOnBlack {  /* in use as of 3/10/15 • 43 in 11 files */
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #F9F9CC; 
}
	
/*
.smallBodyTextLeadedGrayLight {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
	color: #CCCCCC;
}
*/

.smallBodyTextLeaded {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
	
.medSmallBodyTextLeaded {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
}
	
.widgetText1 {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
	color: #FFFFCC;
  text-align:left;
  padding-left: 4px;
  padding-right: 4px;
}

.page .widgetText1 {
  padding-left: 24px;
  padding-right: 24px;
	color: #666666;
}

.bodyTextWithEmphasis {
  font-size: 16px;
  font-weight: bold;
  line-height: 125%;
}

/*
.bodyTextWithEmphasisOnBlack {
  font-size: 16px;
  font-weight: bold;
  line-height: 125%;
	color: #CCCCCC;
}
*/

.pdfEntryFormSpecial {
  font-size: 18px;
  font-weight: bold;
  line-height: 125%;
	padding-bottom:30px;
}

.bodyTextWithEmphasisGreenDark {
  font-size: 16px;
  font-weight: bold;
	color: #003300;
  line-height: 125%;
}

.bodyTextWithEmphasisGreenLight {
  font-size: 16px;
  font-weight: bold;
	color: #00CC00;
  line-height: 125%;
}

.bodyTextWithEmphasisYellow {
  font-size: 16px;
  font-weight: bold;
	color: #FFFF99;
  line-height: 125%;
}

.bodyTextWithEmphasisBrightYellow {
  font-size: 16px;
  font-weight: bold;
	color: #FFFF66;
  line-height: 125%;
}

.sprocketHoles {
	background-image: url("http://sanssoucifest.org/images/sprocketHolesOnDarkGray.jpg");
  font-size: 15px;
  font-weight: normal;
}
/*
.bodyText {
  font-size: 13.75px; 
	line-height: 17.5px; 
  font-weight: normal;
}

.bodyTextOnBlack {
  font-size: 14px;
	line-height: 17px;
  font-weight: normal;
  color: #F9F9CC; 
}
*/
.curationTitle {
  font-size: 18px;
	line-height: 20px;
  font-weight: normal;
  color: #FFFF66;
}

.bodyTextOnDarkGray {  /* in use as of 3/10/15 */
  font-size: 13.75px;  /* 14 */
	line-height: 20px;
  font-weight: normal;
  color: #EEEECC;
}

.bodyTextOriginal {
  font-size: 14px;
  font-weight: normal;
  padding: 3px 0 3px 5px;
	background-color: #FFFF99;
}

.entryRequirementsText { /* DEPRECATED but maintained here for backward compatability */
  font-size: 14px;
	line-height: 1.3;
  font-weight: normal;
  color: #FFFFCC;
	padding: 16px 6px 6px 6px;
	margin: 0;
}

.entryRequirementsParagraph {  /* DEPRECATED but maintained here for backward compatability */
  font-size: 14px;
	line-height: 1.3;
  font-weight: normal;
  color: #FFFFCC;
  margin: 10px 20px 6px 0px;
	padding: 0;
}

.entryRequirementsParagraph:first-of-type {  /* DEPRECATED but maintained here for backward compatability */
  margin-top: 16px;
}

.entryFormSectionHeading { /* NOTE: 3 versions of this rule. This one is the base. */
  font-size: 14px;
	line-height: 14px;
  font-weight: normal;
  color: #FFFF66;
}

.page .entryFormSectionHeading { /* NOTE: 3 versions of this rule. This one is the base. */
  color: #73007b; /* a darker purple */
  color: #8b0095; /* a purple */
}

.page .entryFormSectionHeading .withEmphasis {
  font-size:15px;
  font-weight: bold;
}

.entryFormSectionHeading { /* IE will use this rule because it cannot understand 
                              the parent>clild html>body prefix to the second one */
	padding: 24px 0 0 0;
	margin: 0px 0 0 0;
/*  height: 1%; / This is a hack to make things look right in Internet Explorer */
}

html>body .entryFormSectionHeading { /* All other browsers will apply 
                                       this rule which overrides the first */
	padding: 0px 0 0 0;
	margin: 24px 0 0 0;
  height: inherit;
}

.sectionHeading {
  font-size: 14px;
	line-height: 14px;
  font-weight: normal;
  color: #FFFF66;
	margin: 18px 0 0 0;
}

.entryFormDescription, .entryFormDescriptionSub, .entryFormDescriptionTA {
  font-size: 13px;
  font-weight: normal;
  color: #FFFFCC;
  text-align: right;
  padding: 0px 6px 0px 0;
}

.page .entryFormSection .entryFormDescription,
.page .entryFormSection .entryFormDescriptionSub,
.page .entryFormSection .entryFormDescriptionTA {
  color: purple;
}


.entryFormDescriptionSub { padding: 0px 4px 2px 0; }
.entryFormDescriptionTA { padding: 6px 6px 0 0; }

.entryFormNotation, .entryFormSubheading, .adminEntryFormSubheading {
  font-size: 13px;
  font-weight: normal;
  color: #FFFF99; /* F9F966; */
  padding: 8px 0px 2px 20px;  /* 4px 10px 0px 0; */
  text-align: left;
}

.page .entryFormNotation, .page .entryFormSubheading, .page .adminEntryFormSubheading {
  font-size: 13px;
  font-weight: normal;
  color: #175145; /* 175109; 0b6856; 028000; 026300; 027c00; #be5300; #8b0095; */
  padding: 8px 0px 2px 20px;
  text-align: left;
}

.page .entryFormSubheading {
  font-size: 14px;
}


.entryFormSubheading {
  padding: 8px 0px 0px 4px;  /* 4px 10px 0px 0; */
}

.adminEntryFormSubheading {
  padding: 0;
  margin: 8px 2px 0px 4px;
}

.entryFormSection {
  background-color: #333333;
  border: dashed 1px #333333; /* This border is a hack to force background color
                                 into the very bottom of the entry form area. */
}

.page .entryFormSection {
  background-color: transparent; /* #fffff0; */
  border: dashed 1px hotpink; /* This border is a hack to force background color
                                 into the very bottom of the entry form area. */
  border: none;
}

.entryFormField {
  padding: 2px 0 2px 0; /* 4px 0 2px 0; */
}

.entryFormFieldTA {
  padding: 3px 0 4px 0;  /* 4px 0 0 0; */
}

.entryFormInputField, .entryFormInputFieldWide, .entryFormInputFieldShort, 
.entryFormInputFieldShorter, .entryFormInputFieldShorterYet, .entryFormInputFieldVeryShort,
.entryFormInputFieldShortMed {
  font-size: 12px;
  font-weight: normal;
	height: 22px;
  color: #000000;
  width: 320px;
}

.page .entryFormInputField, .page .entryFormInputFieldWide, .page .entryFormInputFieldShort, 
.page .entryFormInputFieldShorter, .page .entryFormInputFieldShorterYet, .page .entryFormInputFieldVeryShort,
.page .entryFormInputFieldShortMed {
	height: 13px; /* 3/31/15 or 14px */
}

.entryFormInputFieldWide { width: 420px; }
.entryFormInputFieldShort {	width: 200px; }
.entryFormInputFieldShortMed {	width: 160px; }
.entryFormInputFieldShorter { width: 80px; }
.entryFormInputFieldShorterYet { width: 60px; }
.entryFormInputFieldVeryShort { width: 45px; }

.entryFormTextAreaField, .entryFormTextAreaFieldWide {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
	width: 340px;
}

.entryFormTextAreaFieldWide { width: 420px; }

.curationFormTextArea {
  font-size: 12px;
  font-weight: normal;
	width: 100%;
  color: #121212;
}

.entryFormRadioButton {
  font-size: 13px;
	line-height: 130%;
  font-weight: normal;
  color: #FFFFCC;
	padding-top: 2px;
}

.page .entryFormRadioButton {
  color: #666666;
}

.entryFormRadioButtonLabel {
  font-size: 13px;
	line-height: 130%;
  font-weight: normal;
  color: #FFFFCC;
	padding-top: 1px;
}

.page .entryFormRadioButtonLabel {
  color: #666666;
}

.loginPrompt {
  font-size: 13px;
  font-weight: normal;
  color: #FFFFCC;
  text-align: center;
}

.page .entryFormSection .loginPrompt {
  color: green;
}

.bodyTextOnBlackRowPadded {
  font-size: 14px;
  font-weight: normal;
	padding: 2px 0 4px 0;
  color: #FFFFCC;
}

.bodyTextOnDarkGrayRowPadded {
  font-size: 14px;
  font-weight: normal;
	padding: 2px 0 4px 0;
  color: #EEEECC;
}

.bodyTextGrayLight {
  font-size: 14px;
	line-height: 17px;
  font-weight: normal;
	color: #CCCCCC;
}

.bodyTextGreenDark {
  font-size: 14px;
  font-weight: normal;
	color: #003300;
}

.boldBodyText {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bold;
}

.filmTitleText {
  font-size: 20px;
  font-weight: normal; /* changed from bold 8/25/10 */
  font-style: italic;
  color: #FFFF99; 
	line-height: 20px;
}

.filmInfoText {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
	line-height: 130%;
	padding-top: 4px;
  color: #FFFFCC;
}

.pressReportItemText {
  font-size: 14px;
  font-weight: normal;
	padding: 6px 40px 6px 40px;
  color: #FFFFCC;
}

.sectionTitle, .linkListTitle { /* linkListTitle is in use 3/7/15 */
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: black;
	line-height: 20px;
	padding-top: 14px;
	padding-left: 20px;
}

.sectionTitle {
	padding-top: 20px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: black; /* changed 3/16/15 */
	line-height: 1.2;
	margin-top: 14px;
	margin-left: 20px;
}

.sectionText, .linkListText { /* linkListText is in use 3/7/15 */
  font-size: 14px;
  font-weight: normal;
	padding: 8px 20px 8px 40px;
  color: #FFFFCC;
  color: black;
}

/*
~ article p { TODO: This is an incorrect use of ~ on this line. 3/17/15
  font-size: 14px;
  font-weight: normal;
  margin: 10px 20px 0px 40px;
  color: #FFFFCC;
}
*/

p:first-of-type { margin-top:4px; }

.filmInfoSubtitleText {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
	padding-top: 4px;
  color: #CCCCCC;
}

.filmCityStateCountryText
{
  font-size: 12px;
  font-style: italic;
}

.filmYearText {
  font-size: 16px;
  font-weight: normal; 
  font-style: normal;
	padding-top: 3px;
  color: #FFFF99; 
}

.filmLiveText {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
	padding-top: 3px;
  color: #FFFF99; 
}

.filmRunTimeText {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
	padding-top: 3px;
	color: #FFFF99; 
}

.filmFormatText {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
	padding-top: 3px;
	color: #FFFFAF; 
}

.captionText {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: normal;
  color: #663333;
}

.bodyTextOriginal {
  font-size: 13px;
  font-weight: normal;
}

.callForEntriesText {
  font-size: 15px;
  font-weight: normal;
  line-height: 19px;
	color: #FFFFCC;
  padding: 10px 45px 0 45px;
  text-align: left;
}

.page .callForEntriesText {
	color: #333333;
  padding: 10px 31px 0 31px;
}

table.inset {
  border-color: #663333;
}

.titleText {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.titleTextOnBlack {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFCC;
}

.smallTitleTextOnBlack {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFCC;
}

.blackTitleText {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.titleTextGreenDark {
  font-size: 24px;
  font-weight: bold;
  color: #003300;
}

.programPageTitleText {
  font-size: 24px;
	line-height: 24px;
  font-weight: bold;
  color: #FCFC7E; 
}

.page .entryFormSection .programPageTitleText {
  color: green;
}

div.programPageTitleText {
  font-size: 24px;
	line-height: 24px;
  font-weight: bold;
  color: #FCFC7E;
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  text-align: left
}

.homePageTitleText {
  font-size: 18px;
  font-weight: bold;
  color: #FCFC7E; 
}

.programInfoText, .programInfoTextSmall, .programInfoTextTiny { /* in use as of 3/17/15 */
  font-size: 16px;
  font-weight: bold;
	line-height: 120%;
  vertical-align: top;
  color: black;
}

.programInfoText.small { font-size: 14px; }
.programInfoText.tiny { font-size: 12px; }

.page .programInfoText { font-weight:normal; }

.programInfoTextSmall { /* in use as of 3/17/15 */
  font-size: 14px;
}

.programInfoTextTiny { /* in use as of 3/17/15 */
  font-size: 12px;
  font-weight: normal;
}

.filmFigureCaption {
  font-size: 13px;
  font-weight: normal;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
  color: #CCCCCC;
}

.smallTitleText {
  font-size: 12px;
  color: #663333;
}

.smallNavText {
  font-size: 12px;
  line-height: 16px;
}

.darkGreenBorder {
  border-color: #003300;
}

.lightYellowBorder {
  border-color: #FFFFCC;
}

.code {
  font-family: Courier, mono;
  font-size: 12px;
}

.horizontalSeparator1 {
  border: none;
  color: #FFFF58;
  background-color: #FFFF58;
  height: 1px;
  width: 80%;
  text-align: center;
}

.page .entryFormSection .horizontalSeparator1 {
  background-color: green;
}

.horizontalSeparator2 {
  border: none;
  color: #CCBD99;
  background-color: #CCBD99;
  height: 1px;
  width: 80%;
  text-align: center;
	margin-top:10px;
	margin-bottom:10px;
}

.horizontalSeparatorFull {
  border: none;
  color: #FFFFCC;
  background-color: #FFFF66;
  height: 1px;
  width: 100%;
  text-align: center;
}

.page .horizontalSeparatorFull {
/*  border: none; */
  color: #8b0095;
  background-color: #73007b;
  border-width: 0;
  height: 1px;
  width: 100%;
  text-align: center;
}


